* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  position: sticky;
  top: 0;
  background: lightblue;
  z-index: 0;
  border-bottom: 1px solid black;
  background-color: lightblue;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 40px;
}

.logo span {
  font-size: 16px;
  color: black;
  display: block;
}

.navegacao {
  display: flex;
  gap: 20px;
}

.navegacao a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.3s;
}

.navegacao a:hover {
  color: rgba(35, 35, 109, 0.733);
}
.cases {
  max-width: 1200px;
  margin: 20px auto; 
  padding: 0 15px;
  font-size: 20px;
}
.lista-carreira{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card-carreira{
    flex: 1 1 240px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px lightgray;

}

.card-carreira img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-carreira h3{
    padding: 20px 20px 10px;
    font-size: 1.3em;
    color: #111827;
}

.card-carreira p{
    padding: 0px 20px 10px;
    color: #6b7280;
}
.rodape {
  background: lightblue;
  text-align: center;
  padding: 15px;
  margin-top: 170px;
  justify-items: center;
  color: rgb(48, 20, 20);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.rodape-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.rodape-grid h3{
    font-size: 1.2em;
    margin-bottom: 15px;
}
.rodape-grid p{
    color: #d1d5db;
    margin-bottom: 5px;
}


