* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  position: sticky;
  top: 0;
  background: lightblue;
  z-index: 1000;
  border-bottom: 1px solid black;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 40px;
}

.logo span {
  font-size: 16px;
  color: black;
  display: block;
}

.navegacao {
  display: flex;
  gap: 20px;
}

.navegacao a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.3s;
}

.navegacao a:hover {
  color: rgba(35, 35, 109, 0.733);
}
.cases {
  max-width: 1250px;
  margin: 20px auto; 
  padding: 0 15px;
  font-size: 20px;
}
.tabela-servicos .container {
  display: block;
}

.tabela-servicos {
  margin: 40px 0;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 12px 12px 0 0;
}

.tabela th,
.tabela td {
  border: 2px solid lightgray;
  padding: 15px;
  text-align: center;
  vertical-align: top;
}

.tabela th {
  background-color: lightgray;
  font-weight: bold;
}

.linha {
  height: 8px;
  background-color: white;
  margin-top: 8px;
  border-radius: 4px;
  width: 80%;
}

.linha.pequena {
  width: 50%;
}
.rodape {
  background: lightblue;
  text-align: center;
  padding: 15px;
  margin-top: 170px;
  justify-items: center;
  color: rgb(48, 20, 20);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.rodape-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.rodape-grid h3{
    font-size: 1.2em;
    margin-bottom: 15px;
}
.rodape-grid p{
    color: #d1d5db;
    margin-bottom: 5px;
}

